.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.container-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Estilos para el botón */
.button-reserva {
    font-size: 1.3em; /* Puedes ajustar este valor según sea necesario */
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
}

.reserva-container {
    margin-top: 20px;
    margin-bottom: 50px;
}