.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.container-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 180px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Ajusta este valor según sea necesario para centrarlo verticalmente */
  }

  input[type="text"] {
    width: 300px; 
    padding: 10px;
    font-size: 16px; 
    margin-right: 10px; 
  }


/* Estilos para el botón */
.button-agregar-libro {
    font-size: 1.3em; /* Puedes ajustar este valor según sea necesario */
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
}

.formulario-container {
    margin-top: 40px;
    margin-bottom: 50px;
}
